<nav class="fe-nav" aria-label="Main navigation">
  <div class="fe-nav__left">
    <a class="fe-nav__logo" [routerLink]="['home']">
      <img src="../../assets/Transparant profile_Tekengebied 1 - Copy.png" alt="Film Enthusiast" />
    </a>
    <div class="fe-nav__divider"></div>
    <div class="fe-nav__links">
      <a [routerLink]="['home']" routerLinkActive="is-active" class="fe-nav__link">Calendar</a>
      <a class="fe-nav__link is-placeholder">Movies</a>
      <a [routerLink]="['castcrew']" routerLinkActive="is-active" class="fe-nav__link">Cast &amp; Crew</a>
      <a [routerLink]="['bookmarked']" routerLinkActive="is-active" class="fe-nav__link">Bookmarked</a>
      <a [routerLink]="['awards']" routerLinkActive="is-active" class="fe-nav__link">Awards</a>
    </div>
  </div>

  <div class="fe-nav__right">
    <div class="fe-search">
      <i class="fas fa-search fe-search__icon"></i>
      <input
        class="fe-search__input"
        type="text"
        placeholder="Search films, people, awards"
        (input)="onSearch($event)"
        #searchInput
      />
      <span class="fe-search__kbd">⌘K</span>

      <div class="fe-search__results" *ngIf="showDropdown" #dropdownMenu>
        <div *ngFor="let movie of filmResult" class="fe-result">
          <img class="fe-result__img" [src]="imageUrl + movie.poster_path" alt="{{ movie.title }} poster" />
          <div class="fe-result__meta">
            <div class="fe-result__title">{{ movie.title }}</div>
            <div class="fe-result__year">{{ movie.release_date }}</div>
          </div>
          <button class="fe-result__bm" [attr.aria-label]="(movie.isBookmarked ? 'Remove bookmark for ' : 'Bookmark ') + movie.title" (click)="toggleBookmark(movie)">
            <i class="fa-solid fa-bookmark" *ngIf="movie.isBookmarked"></i>
            <i class="fa-regular fa-bookmark" *ngIf="!movie.isBookmarked"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="fe-theme-toggle">
      <button
        class="fe-theme-toggle__seg"
        [class.is-active]="theme.current === 'light'"
        (click)="theme.setTheme('light')"
        aria-label="Light mode"
      >☀</button>
      <button
        class="fe-theme-toggle__seg"
        [class.is-active]="theme.current === 'dark'"
        (click)="theme.setTheme('dark')"
        aria-label="Dark mode"
      >☾</button>
    </div>

    <ng-container *ngIf="auth.user$ | async as user">
      <button class="fe-avatar" (click)="auth.logout()" [title]="'Log out ' + (user.name || '')">
        {{ initials(user) }}
      </button>
    </ng-container>
  </div>
</nav>
