<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <!-- Your logo or brand name here -->
      <img
        src="../../assets/Transparant profile_Tekengebied 1 - Copy.png"
        alt="Logo"
      />
    </a>

    <!-- This button will appear on mobile devices -->
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <!-- Navbar links -->
      <a class="navbar-item" [routerLink]="['home']"> Home </a>
      <a class="navbar-item" href="#"> About </a>
    </div>

    <div class="navbar-end">
      <!-- Navbar items on the right -->
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="#"> Log in </a>
        </div>
      </div>
    </div>
  </div>
</nav>
