<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <!-- ... Navbar content ... -->

  <div class="container">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#">
          <!-- Your logo or brand name here -->
          <img
            src="../../assets/Transparant profile_Tekengebied 1 - Copy.png"
            alt="Logo"
          />
        </a>
        <a class="navbar-item" [routerLink]="['home']"> Home </a>
        <a class="navbar-item" [routerLink]="['bookmarked']"> Bookmark </a>
        <!-- <a class="navbar-item" [routerLink]="['actors']"> Actors </a> -->
      </div>

      <!-- Add the search field here -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field has-addons">
            <p class="control is-wide">
              <input
                class="input"
                type="text"
                placeholder="Search"
                (input)="onSearch($event)"
                #searchInput
              />
            </p>
            <p class="control">
              <button class="button is-info">Search</button>
            </p>
          </div>

          <div
            class="dropdown is-active is-right"
            *ngIf="showDropdown"
            #dropdownMenu
          >
            <div class="dropdown-menu centered-dropdown" style="width: 580px">
              <div class="dropdown-content results-list">
                <!-- Display search results here as a list of cards -->
                <div *ngFor="let movie of filmResult" class="result-card">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-64x64">
                          <img
                            [src]="[imageUrl + movie.poster_path]"
                            alt="Movie Poster"
                          />
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-5">
                          {{ movie.title }}
                        </p>
                        <p class="subtitle is-6 release-year">
                          {{ movie.release_date }}
                        </p>
                      </div>
                      <div class="media-right">
                        <button
                          class="transparent-button"
                          (click)="toggleBookmark(movie)"
                        >
                          <i
                            class="fa-solid fa-bookmark"
                            *ngIf="movie.isBookmarked"
                          ></i>
                          <i
                            class="fa-regular fa-bookmark"
                            *ngIf="!movie.isBookmarked"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Navbar items on the right -->
        <div class="navbar-item">
          <div class="buttons">
            <!-- Conditionally show the logout button if authenticated -->
            <ng-container *ngIf="auth.isAuthenticated$">
              <a class="button is-dark" href="#" (click)="auth.logout()">
                Log out
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
