<div class="container">
  <h1 class="title">bookmarked Movies</h1>
  <button class="button export-button" (click)="exportToJSON()">
    Export Movies
  </button>
  <button class="button import-button" (click)="toggleImportSection()">
    Import Movies
  </button>
  <input
    type="file"
    *ngIf="showImportSection"
    (change)="onFileSelected($event)"
    accept=".json"
  />
  <div *ngIf="showSelect">
    <h2 class="subtitle">Select Movies to Add:</h2>
    <!-- "Select All" checkbox -->
    <label>
      <input
        type="checkbox"
        [(ngModel)]="selectAll"
        (change)="toggleSelectAll()"
      />
      Select All
    </label>
    <table class="table is-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Movie Title</th>
          <th>Release Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of importedMovies">
          <td>
            <input type="checkbox" [(ngModel)]="movie.selected" />
          </td>
          <td>
            <label>
              {{ movie.title }}
            </label>
          </td>
          <td>{{ movie.releaseDate }}</td>
        </tr>
      </tbody>
    </table>
    <button class="button" (click)="addSelectedMovies()">
      Add Selected Movies
    </button>
    <br />
    <br />
  </div>

  <div class="columns is-multiline">
    <div class="column is-half" *ngFor="let movie of bookmarkedMovies">
      <div class="box" style="padding-bottom: 20px">
        <article class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img
                [src]="
                  'https://image.tmdb.org/t/p/original' + movie.poster_path
                "
                alt="{{ movie.title }}"
                style="max-width: 90%; max-height: 125%"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <a
                  href="https://www.themoviedb.org/movie/{{ movie.id }}"
                  target="_blank"
                >
                  {{ movie.title }}
                </a>
                <br />
                {{ movie.release_date }}
                <br />
                <br />
                <button class="button">Download Calendar</button>
              </p>
              <div class="bookmark-container">
                <button
                  class="transparent-button"
                  (click)="toggleBookmark(movie)"
                >
                  <i
                    class="fa-solid fa-bookmark"
                    *ngIf="movie.isBookmarked"
                  ></i>
                  <i
                    class="fa-regular fa-bookmark"
                    *ngIf="!movie.isBookmarked"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div *ngIf="bookmarkedMovies.length == 0" class="column is-full">
    <h2 class="title is-5 has-text-centered">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      You have no bookmarked movies
    </h2>
  </div>
</div>
