<div class="container">
  <h1 class="title is-size-3">{{ date }}</h1>
  <h1 class="title is-size-4">Bookmarked Movies</h1>
  <div class="columns is-multiline">
    <div class="column is-half" *ngFor="let movie of bookmarkedMovies">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img
                [src]="
                  'https://image.tmdb.org/t/p/original' + movie.poster_path
                "
                alt="{{ movie.title }}"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <a
                  href="https://www.themoviedb.org/movie/{{ movie.id }}"
                  target="_blank"
                  >{{ movie.title }}</a
                >
                <br />
                {{ movie.release_date }}
                <br />
                <br />
                <button (click)="downloadICSCalendar(movie)" class="button">
                  Download Calendar
                </button>
              </p>
              <div class="bookmark-container">
                <button
                  class="transparent-button"
                  (click)="toggleBookmark(movie)"
                >
                  <i
                    class="fa-solid fa-bookmark"
                    *ngIf="movie.isBookmarked"
                  ></i>
                  <i
                    class="fa-regular fa-bookmark"
                    *ngIf="!movie.isBookmarked"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <h1 class="title is-size-4">Add bookmarked Movies</h1>
  <div class="field is-grouped">
    <div class="control custom">
      <div class="select is-inline">
        <select [(ngModel)]="selectedYear" (change)="onDateChange()">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="control">
      <button (click)="previousPage()" class="button">
        <i class="fas fa-arrow-left"></i> Previous
      </button>
    </div>
    <div class="control">{{ result.page }}/{{ result.total_pages }}</div>
    <div class="control">
      <button (click)="nextPage()" class="button">
        Next <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-half" *ngFor="let movie of films">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img
                [src]="
                  'https://image.tmdb.org/t/p/original' + movie.poster_path
                "
                alt="{{ movie.title }}"
                loading="lazy"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <a
                  href="https://www.themoviedb.org/movie/{{ movie.id }}"
                  target="_blank"
                  >{{ movie.title }}</a
                >
                <br />
                {{ movie.release_date }}
                <br />
                <br />
                <button (click)="downloadICSCalendar(movie)" class="button">
                  Download Calendar
                </button>
              </p>
              <div class="bookmark-container">
                <button
                  class="transparent-button"
                  (click)="toggleBookmark(movie)"
                >
                  <i
                    class="fa-solid fa-bookmark"
                    *ngIf="movie.isBookmarked"
                  ></i>
                  <i
                    class="fa-regular fa-bookmark"
                    *ngIf="!movie.isBookmarked"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
