.transparent-button {
  background-color: transparent;
  border: none; /* Optionally, remove the button border */
  padding: 0; /* Optionally, remove padding to make it as small as possible */
}

.movie-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-select {
  padding: 0.25rem;
}
