<div class="container">
  <div class="calendar">
    <div class="date-selector">
      <div class="select is-inline">
        <select [(ngModel)]="selectedMonth" (change)="onDateChange()">
          <option *ngFor="let month of months; let i = index" [value]="i">
            {{ month }}
          </option>
        </select>
      </div>
      <div class="select is-inline">
        <select [(ngModel)]="selectedYear" (change)="onDateChange()">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <div class="month-title">
        <h2>{{ months[selectedMonth] }} {{ selectedYear }}</h2>
      </div>
    </div>
    <div class="week">
      <div class="day2 header">Sun</div>
      <div class="day2 header">Mon</div>
      <div class="day2 header">Tue</div>
      <div class="day2 header">Wed</div>
      <div class="day2 header">Thu</div>
      <div class="day2 header">Fri</div>
      <div class="day2 header">Sat</div>
    </div>
    <div class="week" *ngFor="let week of weeks">
      <ng-container *ngFor="let day of week">
        <div *ngIf="day != 0" class="day square" (click)="onDayClick(day)">
          {{ day }}
          <br />
          <div *ngFor="let movie of bookmarkedMovies">
            <ng-container
              *ngIf="
                movie.release_date.slice(5) ===
                formatDate(selectedMonth + 1, day)
              "
            >
              <div class="small-text">
                <strong>{{ movie.title }}</strong>
                {{ movie.release_date | date : "yyyy" }}
              </div>
            </ng-container>
          </div>
        </div>
        <div
          *ngIf="day == 0"
          class="day square"
          (click)="onDayClick(day)"
        ></div>
      </ng-container>
    </div>
  </div>
</div>
