.calendar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
}

.weekday {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.week {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.day {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  /* Add the following lines to make each square the same width and height */
  width: calc(100% / 7); /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.day2 {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  /* Add the following lines to make each square the same width and height */
  width: calc(100% / 7); /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.day:hover {
  background-color: #3498db;
  color: #fff;
}

.small-text {
  font-size: 12px; /* You can adjust the font size as needed */
}
